/* grid */
* {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.grid,
.tabler,
.tabler-grid,
.grid-flex {
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;

  @include responsive(tablet) {
    padding-inline: 1rem;
  }
}


.grid {
    @include grid(4rem 2rem 0 2rem, 0rem);

    @include responsive(tablet) {
        padding: 4rem 8rem 0 8rem;
    }

    @include responsive(tablet-landscape) {
        padding: 8rem 16rem 0 16rem;
    }
}

/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

@for $i from 1 through 5 {
    .grid-start#{$i} { grid-column-start: $i; }
    .grid-end#{$i} { grid-column-end: $i; }
}


/* flexbox grid */
.grid-flex {
    @media (max-width: 350px) {
        display:inline-grid;
    }

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;

    @include responsive(tablet-landscape) {
        justify-content: start;
    }
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}


/* tabler grid */
.tabler-grid {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: grid;
    margin-bottom: 2rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @include responsive(tablet-landscape) {
        display: none;
    }
}
.tabler-grid1 {
    grid-template-columns: 70% 1fr;
    place-items: end;
}
.tabler-grid2 {
    grid-template-columns: 1fr 70%;
}
.tabler-grid3 {
    grid-template-columns: 1fr 1fr;
}

.tabler-grid--large {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @include responsive(tablet-landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}


/* grid esprit */
.grid-esprit {
    @include grid(4rem 2rem 0 2rem, 0rem);
    gap: 2rem;

    @include responsive(tablet) {
        padding: 4rem 8rem 0 8rem;
        /*
        grid-template-columns: 1fr;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 4rem; */
    }

    @include responsive(tablet-landscape) {
        padding: 8rem 8rem 0 8rem;
    }
}

/* devices */
.mobile {
    display: grid;

    @include responsive(tablet-landscape) {
        display: none;
    }
}
.desktop {
    display: none;

    @include responsive(tablet-landscape) {
        display: block;
    }
}