/* le background vient d'une vidéo de youtube => crédits */
.header {
    display: grid;
    min-height: 100dvh  ;
    overflow: hidden;
    place-items: center;
    text-align: center;
    position: relative;

    @include responsive(tablet-landscape) {
        text-align: center;
        place-items: center;
    }
}

.header .flex-title {
    position: relative;
    z-index: 3;
}


/* background */
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}


.blob-outer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    filter: blur(150px);
    pointer-events: none;
    opacity: 0.9;
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 105vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #fff;
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #08f, #f60, #bbffa1, #4c00ff, #ab2666, #09f);
    animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}


.gradient {
    position: relative;
    background: #000;
}

.gradient::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    height: 100px;
    /* background: linear-gradient(to bottom, transparent, #000); */
    z-index: 1;

    // courbure
    background: radial-gradient(ellipse at top center, transparent 0%, #000 75%);
    mask-image: linear-gradient(to top, black, transparent);
    pointer-events: none;
}
.gradient h2 {
    position: relative;
    z-index: 2;
}