/* images */
img,
video,
iframe {
    height: auto;
    max-width: 100%;
}


/* img grid */
.img-tabler {
    display: grid;
    border-radius: 1rem;
    filter: grayscale(1);

    &:hover {
        transform: scale(1.05);
        filter: grayscale(0);
        transition: filter 0.2s ease;
    }
}

.img-tabler--big {
    position: relative;
    width: calc(100% + 8rem);
    height: auto;
}


/* img sections */
.image-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.img-interface, .img-esprit, .img-connected {
    z-index: -100;
    position: relative;
}
.img-interface {
    opacity: 0.50;
    width: 100%;
}

.img-esprit {
    width: calc(100% + 4rem);
    left: -2rem;
    transform: scaleX(-1);
    margin-bottom: 2rem;
}

.img-connected {
    z-index: 100;
    width: 50%;
    left: 25%;
    margin: 2rem 0;
}

.icon-connected {
    width: 20%;
}

.icon-container {
    padding: 1rem;
    background-color: $color-white;
    border-radius: 1rem;
    align-self: center;
}

/* section esprit */
.esprit-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: $color-text;
    padding: 2rem;
    border-radius: 2rem;

    @include responsive(tablet) {
        flex-direction: row;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        margin: 0 auto;
    }

    @include responsive(tablet-landscape) {
        text-align: left;
        padding: 4rem;

    }
}
.esprit-container:last-child {
    margin-bottom: 2rem;
}

.esprit-text {
    flex: 1;
}

.esprit-image {
    flex: 1;

    img {
        height: auto;
        object-fit: contain;
    }
}