/* images */
img,
video,
iframe {
    max-width: 100%;
    height: auto;
    max-width: 100%;
}


/* img grid */
.img-tabler {
    display: grid;
    border-radius: 1rem;
}

.img-tabler--big {
    position: relative;
    width: calc(100% + 8rem);
    /* left: -8rem; */
    height: auto;
}


/* img sections */
.image-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.img-interface, .img-esprit, .img-connected {
    z-index: -100;
    position: relative;
}
.img-interface {
    opacity: 0.50;
    width: 100%;
}

.img-esprit {
    width: calc(100% + 4rem);
    left: -2rem;
    transform: scaleX(-1);
    margin-bottom: 2rem;
}

.img-connected {
    z-index: 100;
    width: 50%;
    left: 25%;
    margin: 2rem 0;
}

.icon-connected {
    width: 20%;
}

.icon-container {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;

    align-self: center;
}