/* slider */
.slider-wrapper {
    position: relative;
    height: auto;
    transition: height 0.5s ease;
    overflow: hidden;
    margin-bottom: 2rem;
}

.slider {
    display: flex;

    .slide {
        position: absolute;
        pointer-events: none;
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        border-radius: 1rem;
        width: 100%;
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;

        &.active {
        pointer-events: auto;
        transform: translateX(0);
        opacity: 1;
        }
    }
}


/* section background */
.background {
    z-index: -1000;
    background-color: $color-white;
    padding: 2rem;
}