
.slider-wrapper {
  position: relative;
  height: 45vh;
/*   overflow: hidden; */
}

.slider {
    display: flex;
  
    .slide {
      position: absolute;
      pointer-events: none;
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      border-radius: 1rem;
      width: calc(100dvw - 5rem);
      opacity: 0;
      transition: transform 1s ease, opacity 1s ease;
  
      &.active {
        pointer-events: auto;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }