/* typographies */
.title-header,
.title-big, 
.title-medium, 
.title-small,
.title-section,
.title-footer {
    color: $color-white;
    font-family: $font-primary;
    line-height: 1.2;
    margin: 0;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.title-header { 
    @include font-size-responsive(64px, 116px, 137px);
    margin-bottom: 1rem;
}

.title-big { @include font-size-responsive(25px, 66px, 42px); }

.title-medium { @include font-size-responsive(54px, 61px, 71px); }

.title-section { @include font-size-responsive(23px, 41px, 69px); 
    margin-bottom: 4rem; 
}
.title-section--black { color: $color-black; }

.title-small { @include font-size-responsive(24px, 27px, 32px); }

.paragraph {
    z-index: 1000;
    position: relative;
    @include paragrpah ($color-text);
    @include font-size-responsive(16px, 18px, 21px);
}

.paragraph--black {
    color: $color-black;
}

.paragraph--float {
    position: absolute;
    top: 20%;
    left: 2rem;
    width: calc(100% - 4rem);
    color: $color-white;

    @include responsive(tablet) {
        left: 8rem;
        width: calc(100% - 16rem);
    }

    @include responsive(tablet-landscape) {
        left: 16rem;
        width: calc(100% - 32rem);
    }
}

.paragraph-icon {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center
}

.paragraph--footer {
    @include paragrpah ($color-black);
    @include font-size-responsive(11px, 13px, 15px);
    max-width: 100%;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

b {
    color: $color-white;
}


/* Sélecteurs pour margin */
[data-m] { margin: attr(data-m rem); }
[data-mt] { margin-top: attr(data-mt rem); }
[data-mb] { margin-bottom: attr(data-mb rem); }
[data-ml] { margin-left: attr(data-ml rem); }
[data-mr] { margin-right: attr(data-mr rem); }
[data-mx] {
    margin-left: attr(data-mx rem);
    margin-right: attr(data-mx rem);
}
[data-my] {
    margin-top: attr(data-my rem);
    margin-bottom: attr(data-my rem);
}