/* typographies */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.title-header,
.title-big, 
.title-medium, 
.title-small,
.title-section,
.title-footer {
    color: $color-white;
    font-family: $font-primary;
    line-height: 1.2;
}

.title-header { @include font-size-responsive(64px, 137px, 116px); margin-bottom: 1rem }

.title-big { @include font-size-responsive(25px, 91px, 42px); }

.title-medium { @include font-size-responsive(54px, 61px, 71px); }

.title-section { @include font-size-responsive(23px, 41px, 69px); margin-bottom: 2rem; }

.title-small { @include font-size-responsive(24px, 27px, 32px); }

.paragraph {
    z-index: 1000;
    position: relative;
    @include paragrpah ($color-text);
    @include font-size-responsive(16px, 18px, 21px);
}

.paragraph--footer {
    @include paragrpah ($color-white);
    @include font-size-responsive(11px, 13px, 15px);
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    
}

b {
    color: $color-white;
}