/* fonts */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Inter', sans-serif;

/* couleurs */
$color-bg: #000;
$color-white: #fff;
$color-black: #000;
$color-hover: #000;

$color-text: #cccccc;
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;